* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    /* --cor-verde: #14A400; */
    --cor-verde: cadetblue;
    --cor-branco: #fff;
    --cor-cinza: #161719;
}

body {
    background: linear-gradient(to bottom, #161719 0%, #17181a 100%);
    height: 100vh;
}

header nav {
    position: absolute;
    padding: 0.5rem;
    padding-left: 2rem;
    display: flex;
    background-color: transparent;
}

header {
    background-image: url(../image/pexels-rodnae-productions-8312862.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    height: 7rem;
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.ancora {
    text-decoration: none;
    color: #fff;
}

.ancora {
    position: relative;
    display: inline-block;
}

.ancora::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--cor-branco);
    border-radius: 4px;
    scale: 0.1;
    transform-origin: right;
    transition: scale 0.25s;
}

.ancora:hover {
    cursor: pointer;
}

.ancora:hover::before {
    scale: 1;
    transform-origin: left;
}

header nav img {
    position: relative;
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
}

.section-primary {
    height: 100vh;
    text-align: center;
}

.container-first-section {
    height: 100vh;
    background: rgba(22, 23, 25, 0.50);
    backdrop-filter: blur(4px);
    position: relative;
}

section .container-first-section h1 {
    padding-top: 10rem;
    text-align: center;
    font-size: 2.0rem;
    font-weight: bolder;
    color: var(--cor-branco);
}

section .container-first-section h1::selection {
    background-color: var(--cor-cinza);
    color: var(--cor-verde);
}

section .container-first-section a button {
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    border: none;
    border-radius: 20px;
    width: 20rem;
    height: 2.5rem;
    margin-top: 14rem;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: underline;
}

section .container-first-section a button:hover {
    cursor: pointer;
}

.product-list {
    position: relative;
    z-index: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    max-width: 1300px;
    width: 100%;
}

.product-list li {
    padding: 1rem 0;
}

.card {
    /* width: 190px;
    height: 254px; */
    width: 300px;
    height: 250px;
    /* background-color: rgb(113, 206, 126); */
    background-color: var(--cor-verde);
    border: 2px solid var(--cor-verde);
    border-radius: 7px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5%);
}

.product-list:hover :not(:hover) {
    opacity: 80%;
}

.container-card-box {
    padding-top: 5rem;
    height: auto;
    display: grid;
    place-items: center;
    text-align: center;
}

.container-card-box h2 {
    color: var(--cor-branco);
    font-size: 2rem;
    margin-bottom: 5rem;
}

.container-card-box p {
    margin: 3rem 0 3rem 0;
    width:68vw;
    text-align: center;
    line-height: 1.8rem;
    color: var(--cor-branco);
    font-weight: 600;
}

footer {
    height: auto;
    background-color: #212223;
    padding-bottom: 0.5rem;
}

.container-footer {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 2vw;
}

.duvidas {
    font-size: 1rem;
    margin-bottom: 1vw;
    color: #fff;
    font-weight: bolder;
}

.paragrafo {
    color: #aeb1b6;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 2vw;
    color: #aeb1b6;
}

.navegue-aqui {
    font-size: 1rem;
    margin-bottom: 1vw;
    color: var(--cor-verde);
    font-weight: bolder;
    margin-top: 2vw;
}

footer .container-footer ul {
    list-style: none;
    display: flex;
}

footer .container-footer ul li {
    color: var(--cor-branco);
}

footer .container-footer ul {
    font-size: 0.8rem;
    gap: 15px;
}

.container-profissional {
    height: 100vh;
    text-align: center;
    background-color: var(--cor-branco);
    display: grid;
    place-items: center;
}

.container-profissional h2 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.container-card-profissional {
    background-color: var(--cor-verde);
    /* background-image: linear-gradient(144deg, var(--cor-verde), #5B42F3 50%, #00DDEB); */
    width: 25rem;
    height: auto;
    border-radius: 15px;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.card-profissional {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a svg {
    width: 1.1rem;
    fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.card-image-perfil {
    background-image: url(../image/pexels-gustavo-trotta-13790048.jpg);
    background-size: cover;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.conteiner-imagem-perfil {
    background-color: var(--cor-branco);
    height: 4rem;
    width: 4rem;
}

.card-image-perfil h2 {
    position: relative;
    top: 50%;
    align-items: center;
}

.card-image-perfil h3 {
    font-size: 1rem;
}

.section-details {
    display: grid;
    justify-content: center;
    background-color: var(--cor-branco);
}

.container-details {
    width: 50vw;
    margin-bottom: 6rem;
}

.container-details h2 {
    text-align: left;
    margin-bottom: 3rem;
    font-size: 2rem;
    margin-top: 5rem;
}

.container-details details {
    display: flex;
    padding: 1rem;
    border: 0.8px solid var(--cor-cinza);
    color: var(--cor-verde);
    margin: 0.5rem;
    border-radius: 7px;
}

.container-details details p {
    color: var(--cor-cinza);
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}

.container-details details:hover {
    cursor: pointer;
}

.container-details details span {
    display: flex;
    margin-top: 1rem;
}

.container-details details summary {
    font-weight: bolder;
    font-size: 1.2rem;

}

.section-hr {
    padding: 0 4rem;
    width: 100%;
    background-color: var(--cor-branco);
}

#card1-img {
    background-image: url(../image/pexels-karolina-grabowska-6629527.png);
    background-size: cover;
}

#card2-img {
    background-image: url(../image/pexels-yan-krukau-5794059.png);
    background-size: cover;
}

#card3-img {
    background-image: url(../image/pexels-anna-shvets-4587427.png);
    background-size: cover;
    background-position: center right;
}

.section-depoimentos {
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    padding-bottom: 3rem;
}

.container-depoimentos {
    display: flex;
    justify-content: center;
}

.card-depoimento {
    width: 250px;
    height: 360px;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--cor-verde);
    /* background-image: linear-gradient(144deg, var(--cor-verde), #5B42F3 50%, #00DDEB); */
}

.lista-depoimentos li img{
    display: inline-block;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: relative;
    z-index: 2;
    bottom: -5rem;
    right: -25%;
    border: 6px solid var(--cor-branco);
}

.lista-depoimentos{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    max-width: 1300px;
    width: 100%;
}
.section-depoimentos h2{
    color: var(--cor-cinza);
    position: relative;
    bottom: -3rem;
    font-size: 2rem;

}

.card-depoimento h3{
    font-weight: 500;
    position: relative;
    top: 5rem;
    color: var(--cor-branco);
}
.card-depoimento .nome-depoimento1{
    font-weight: 800;
    position: relative;
    top: 7rem;
    font-size: 1.1rem;
}
.card-depoimento .nome-depoimento2{
    font-weight: 800;
    position: relative;
    top: 8.5rem;
    font-size: 1.1rem;
}
.card-depoimento .nome-depoimento3{
    font-weight: 800;
    position: relative;
    top:7rem;
    font-size: 1.1rem;
}
.card-depoimento .nome-depoimento4{
    font-weight: 800;
    position: relative;
    top: 8.3rem;
    font-size: 1.1rem;
}
a #adquira {
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    border: none;
    border-radius: 20px;
    width: 26rem;
    height: 3.5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: underline;
}

a #adquira:hover {
    cursor: pointer;
}

.section-header-page-2{
    padding: 3rem;
    text-align: center;
    place-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(144deg, var(--cor-verde), #5B42F3 50%, #00DDEB); 
}
.section-header-page-2 #titulo-page2{
    font-size: 6rem;
}
.section-header-page-2 .subtitulo-page2{
    text-align: center;
    color: var(--cor-branco);
}
a #adquira-page2{
    background-color: cyan;
    outline: none;
    border: none;
    border-radius: 70px;
    width: 25rem;
    padding: 1.2rem;
    text-decoration: underline;
    font-size: 1.3rem;
    color: red;
    font-weight: bolder;
    margin: 2rem;
}
a #adquira-page2:hover{
    cursor: pointer;
}

@media (max-width: 800px) {
    .section-header-page-2{
        padding: 1rem;
        overflow-y: hidden;
    }
    .section-header-page-2 #titulo-page2{
        font-size: 4rem;
    }
    .section-header-page-2 .subtitulo-page2{
        margin-top: 1.3rem;
    }a #adquira-page2{
        margin: 1rem;
        font-size: 1rem;
        width: auto;
        padding: 1.5rem;
    }
    footer {
        height: auto;
        background-color: #212223;
        padding-bottom: 20px;
    }

    .container-footer {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2vw;
    }

    .duvidas {
        font-size: 1.5rem;
        margin-bottom: 5vw;
        color: #fff;
        font-weight: bolder;
    }

    .paragrafo {
        text-align: left;
        color: #aeb1b6;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 5vw;
        margin-bottom: 4vw;
    }

    .navegue-aqui {
        font-size: 1.5rem;
        margin-bottom: 7vw;
        color: var(--cor-verde);
        font-weight: bolder;
        text-align: center;
    }

    .informacoes-final {
        align-items: center;
        justify-content: center;
        text-align: left;
        display: grid;
    }

    .container-card-box {
        padding: 2rem;
        height: auto;
    }

    .container-card-box p {
        margin-top: 5rem;
        padding: 0;
    }

    .card {
        width: 15rem;
        height: 15rem;
    }

    .card:hover {
        transform: translateY(0);
    }

    .ancora {
        font-size: 0.8rem;
    }

    header nav ul {
        display: none;
    }

    header nav img {
        width: 5rem;
        height: 5rem;
        padding: 0;
    }

    header nav {
        position: absolute;
        z-index: -1;
        padding: 0%;
        margin-left: 1rem;
    }

    .container-card-box p {
        text-align: center;
        line-break: auto;
        padding-bottom: 5rem;
    }

    section .container-first-section a button {
        margin-top: 30%;
        width: 18rem;
    }

    a #adquira {
        margin-top: 30%;
        width: auto;
        height: 3rem;
        font-size: auto;
        overflow-y: hidden;
    }

    .container-card-profissional {
        height: auto;
        width: auto;
        margin: 1.5rem;
        display: block;
    }

    section .container-first-section h1 {
        position: relative;
        width: auto;
        margin: 1.5rem;
    }

    .product-list:hover :not(:hover) {
        opacity: 100%;
    }

    .product-list li {
        padding: 0rem 0rem;

    }

    .container-details {
        width: 20rem;
    }
    .container-footer ul .ancora {
        font-size: 0.46rem;
    }

    #card3-img {
        background-image: url(../image/pexels-anna-shvets-4587427.png);
        background-size: cover;
        background-position: right;
    }
    .section-depoimentos h2{
        margin-left: 1.5rem;
    }
    .lista-depoimentos{
        display: block;
    }
    .container-profissional h2{
        margin-bottom: 1rem;
    } 
}

@media (max-width: 1100px) {
    .product-list {
        flex-wrap: wrap;
    }
    .lista-depoimentos{
        flex-wrap: wrap;
    }
    .section-depoimentos{
        height: auto;
    }
}